<%- include('../layouts/layout', {
    pageTitle: 'Medfins | India',
    content: `
    <div class="flex justify-center items-center mb-20 bg-violet-100 md:pt-[12rem] md:pb-[5rem] md:px-16 p-10">
        <img class="w-[10rem] rounded-3xl" src="images/india.svg" alt="">
        <div class="flex flex-col items-center ml-10 justify-center">
            <h1 class="md:text-4xl lg:5xl md:leading-[4rem]  md:mb-3 text-3xl leading-none mb-1 text-violet-950 font-poppinsmedium ">MEDICAL DEVICE REGULATION IN INDIA</h1>
        </div>
    </div>
    <div class="flex items-start  h-full pb-20 justify-around">
        <div class="flex items-start flex-col flex-1 px-24 justify-center">
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Introduction :</h2>
                <p class="text-base text-violet-950 ml-5">- By 2025, the rapidly expanding Indian healthcare sector will generate $280 billion in revenue. One of the top 20 medical device markets worldwide is the Indian market. By 2025, its current valuation of $5.2 billion is anticipated to rise to $50 billion. In India, the Drugs and Cosmetics Act of 1940 governed devices; there were no regulations about medical devices. The Indian Medical Device Rules, 2017, which are the new regulations for medical devices in India, were released by the Central Drug Standard Control Organization to close this gap. These regulations address device-related topics, such as post-market requirements, labeling, sales, manufacturing and import, registration, and classification. The regulations are a step in the right direction and cover most of the European Union (EU) approval procedures, which require that the devices work as intended and are safe. However, given how quickly medical device technology is developing, it is important to clarify and update the current regulatory framework to harmonize standards and bring them into compliance with more progressive laws like EU-MDR, USFDA, etc.</p>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">What is CDSCO?</h2>
                <p class="text-base text-violet-950 ml-5">The Central Drugs Standard Control Organization (CDSCO) falls under the jurisdiction of the Indian government's Ministry of Health & Family Welfare's Directorate General of Health Services. The Drugs & Cosmetics Act of 1940 established regulations for both drugs and cosmetics, and it also approved new drugs and carried out clinical trials. The objectives of CDSCO are to maintain consistency in the services it offers, as well as to be open and accountable. The duty of granting licenses for medical devices—falls on state regulators.</p>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">What is IMDR?</h2>
                <p class="text-base text-violet-950 ml-5">The Central Drug Standard Control Organisation's (CDSCO) Medical Devices and Diagnostics Division created the Medical Device Regulations (IMDR), published in January 2017 and enacted in January 2018. To amend the IMDR, the "Medical Devices (Amendment) Rules, 2020" were drafted in February 2020 and passed in April of the same year. With the release of the 2020 amendment, "registration of certain medical devices" was added.</p>
                <div class="ml-10 my-5">
                    <h3 class="text-xl text-violet-950">The IMDR states that the following guidelines apply to medical devices:</h3>
                    <ul class="text-base text-violet-950 mt-3 ml-10">
                        <li class="mb-2 list-disc">  Licensing is available for import, manufacturing for distribution or sale, stock, display, or offer for sale.</li>
                        <li class="list-disc">  It may be produced for testing, evaluation, examination, clinical research, demonstration, or training.</li>
                    </ul>
                </div>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">What is a medical device as per IMDR<span class="text-base"> - "Medical device" refers to:</span></h2>
                <ul class="text-base text-violet-950 mt-3 ml-5">
                    <li class="mb-2">(A) materials used for in vitro diagnostic procedures.</li>
                    <li class="mb-2">(B) materials, including mechanical contraceptives (condoms, intrauterine devices, tubal rings);</li>
                    <li class="mb-2">(C) materials periodically notified under subclause (iv) of clause (b) of section 3 of the Act;</li>
                    <li>(D) materials used for surgical dressings, bandages, staples, sutures, ligatures, and blood and blood component collection bags with or without anticoagulant covered under subclause (i);</li>
                </ul>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Medical device classification</h2>
                <p class="text-base text-violet-950 ml-5">Medical device risk is classified into four categories by the Central Licencing Authority (CLA) of India based on the device's intended use, associated risks, and other factors mentioned in the IMDR.</p>
                <ul class="text-base mb-5 text-violet-950 mt-3 ml-5">
                    <li class="mb-2">1. Low risk-Class A</li>
                    <li class="mb-2">2. Low, moderate risk-Class B</li>
                    <li class="mb-2">3. Moderate high risk-Class C</li>
                    <li>4. High risk-Class D</li>
                </ul>
                <div class="ml-5">
                    <h3 class="text-xl text-violet-950">The following guidelines form the basis of how medical devices are categorized:</h3>
                    <ul class="text-base text-violet-950 mt-3 ml-10">
                        <li class="mb-2 list-disc">  The device's intended use will determine the application of classification.</li>
                        <li class="mb-2 list-disc"> Combination items or add-ons should be categorized individually</li>
                        <li class="mb-2 list-disc"> Software should be classified under the same heading as its connected device.</li>
                        <li class="mb-2 list-disc"> Multiple-purpose devices should be categorized according to their most important use.</li>
                        <li> Stricter rules that lead to a higher classification should be applied if multiple rules apply.</li>
                    </ul>
                </div>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Manufacturing</h2>
                <p class="text-base text-violet-950 ml-5">The State Licencing Authority issues or loans a license based on an application to manufacture class A/B devices. However, CLA grants the license or loan license to manufacture class C/D devices. If the license retention fee is paid five years from the date of issuance, the licenses are everlasting unless suspended or revoked. Medical devices in small quantities can be produced for clinical research, testing, assessment, inspection, demonstration, or training. The period of validity of this license is three years.</p>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Clinical investigation</h2>
                <p class="text-base text-violet-950 ml-5">All class B, C, and D medical devices made in India that are investigational, without a predicate device, and produced there must undergo clinical investigation. However, suppose the device has been on the market for at least two years in Australia, Canada, Japan, Europe, or the United States, and the respective CLAs are satisfied with the clinical evidence that is currently available. In that case, the clinical investigation is unnecessary to grant the import license. In these situations, post-marketing research on CLA might be necessary based on the assessment and advice of the subject expert committee.</p>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Post-market surveillance </h2>
                <p class="text-base mb-5 text-violet-950 ml-5">Following the release of a medical device, the manufacturer must submit a vigilance report or PMS data. The reporting procedure, the complaints received, and the corrective and preventive measures taken should all be included in this report.</p>
                <p class="text-base text-violet-950 ml-5">To test the safety and functionality of an investigational medical device that does not yet have its predicate device, manufacturers must carry out a post-marketing clinical investigation (which may include additional drug-device interactions, safety studies, investigations intended to support use under the approved indication, such as mortality or morbidity studies, etc.).</p>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Quality systems conformity assessment – plant master file (pmf)</h2>
                <p class="text-base text-violet-950 ml-5">To certify the quality system(s) of the legitimate and/or actual manufacturing facilities, an ISO 13485 certification is needed. Manufacturers must submit a Plant Master File (PMF) for every manufacturing site to demonstrate compliance. Following approval, medical devices approved at that location are added to the license under an issued import license. As a result, companies having one manufacturing location will hold one import license, whereas companies having three locations will hold three import licenses. Goods produced at two locations will need two PMF applications approved and listed on each import license.</p>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Registering innovative or novel medical devices</h2>
                <p class="text-base text-violet-950 ml-5">Medical devices classified as "investigational devices" are new to the Indian market regarding their composition, operation mechanism, or intended use. As such, they must meet additional criteria for clinical investigation and undergo evaluation, which includes proving their efficacy and safety. These extra demands will be decided upon during a CDSCO meeting known as a Subject Expert Committee (SEC), during which they will pose more queries and specify requirements that the license holder and manufacturer must fulfill to keep access to the market.</p>
            </div>
            <div class="mb-16">
                <h2 class="text-2xl text-violet-950 mb-5">Requirements for approval in your home country or reference country</h2>
                <p class="text-base text-violet-950 ml-5">Applicants must provide documentation of their reference country's approval; approval from their home country is unnecessary. Japan, Australia, the USA, Canada, and the EU are examples of reference nations.</p>
            </div>
            <div class="mb-10">
                <h2 class="text-3xl text-violet-950 mb-5">Licence Holder Qualifications</h2>
                <p class="text-base text-violet-950 ml-5 mb-5">The License Holding Agent handles power of authority, local labeling, customs clearance, and post-market vigilance. Notifying the CDSCO and Materiovigilance Programme of India (MvPi) of Serious Adverse Events (SAE) that take place in India is the responsibility of post-market vigilance.</p>
                <div class="ml-5">
                    <div class="mb-5">
                        <h2 class="text-2xl text-violet-950 mb-5">Transfer of Licences </h2>
                        <p class="text-base text-violet-950 ml-5">The current regulations permit more than one company to hold a license for the same product, but no license transfers are allowed.</p>
                    </div>
                    <div class="mb-5">
                        <h2 class="text-2xl text-violet-950 mb-5">The medical device regulatory approval procedure in India</h2>
                        <p class="text-base mb-5 text-violet-950 ml-5">This is merely a condensed summary of the primary registration procedures.</p>
                        <ul class="text-base mb-5 text-violet-950 mt-3 ml-5">
                            <li class="mb-2 font-poppinssemibold">Step 1: <span class="font-poppinsregular">Using the published classification lists from the CDSCO, ascertain the device's classification.</span></li>
                            <li class="mb-2 font-poppinssemibold">Step 2: <span class="font-poppinsregular">Designate an India Authorised Agent to take care of your device registration and communicate on your behalf with the CDSCO.</span></li>
                            <li class="mb-2 font-poppinssemibold">Step 3: <span class="font-poppinsregular">Prepare to send the device application and any necessary supporting documentation to the CDSCO.</span></li>
                            <li class="mb-2 font-poppinssemibold">Step 4: <span class="font-poppinsregular">Send in the application cost. After reviewing the application, the CDSCO might ask for more details.</span></li>
                            <li class="mb-2 font-poppinssemibold">Step 5: <span class="font-poppinsregular">Your device will receive an import license from CDSCO after they approve it.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mb-10">
                <h2 class="text-2xl text-violet-950 mb-5">Conclusion:</h2>
                <p class="text-base text-violet-950 ml-5">The introduction of the Indian Medical Device Rules, 2017, by the Central Drug Standard Control Organisation (CDSCO) marked a crucial step in regulating medical devices, covering various aspects. In the coming years, stakeholders in the Indian healthcare industry, including manufacturers, regulators, and healthcare professionals, must continually collaborate to refine and enhance the regulatory landscape. This will not only align with global standards but also ensure that the Indian medical device market remains a competitive and reliable player on the international stage, contributing significantly to the overall growth and development of the healthcare ecosystem in the country.</p>
            </div>
        </div>
        <div class="flex flex-2 items-start sticky top-[10rem] mr-10 flex-col">
            <h1 class="text-xl mb-10 font-poppinsmedium text-violet-950">IMPORTANT DOCUMENTS AND LINKS</h1>
            <div class="ml-5 flex flex-col text-violet-800 font-poppinsmedium text-lg">
                <a class="mb-10 hover:text-violet-400" target="_blank" href="https://cdscomdonline.gov.in/NewMedDev/resources/app_srv/NMD/global/helpfiles/FeePaidDetails.pdf"> <i class="fa-solid mr-2 fa-link"></i> Fees Details</a>
                <a class="mb-10 hover:text-violet-400" target="_blank" href="https://cdscomdonline.gov.in/NewMedDev/resources/app_srv/NMD/global/pdf/MD-FAQ.pdf"> <i class="fa-solid mr-2 fa-link"></i> FQA Medical Devices</a>
                <a class="mb-10 hover:text-violet-400" target="_blank" href="https://cdscomdonline.gov.in/NewMedDev/resources/app_srv/NMD/global/pdf/IVD-FAQ.pdf"> <i class="fa-solid mr-2 fa-link"></i> FAQ IVD Device</a>
                <a class="mb-10 hover:text-violet-400" target="_blank" href="https://cdscomdonline.gov.in/NewMedDev/ListOfApprovedDevices"> <i class="fa-solid mr-2 fa-link"></i> List of Approved Devices</a>
            </div>
        </div>
    </div>
    `
}) %>

